:root{
    --primari-color:#eed6d4;
    --secundary-color: #a86e69;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background: linear-gradient(var(--primari-color), #f0f0f0  );
}
.header__menu{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primari-color);
}

.header__menu img {
    height: 80%;
    padding-left: 20px;
}

.options{
    display: flex;
    margin: 0;
    padding: 0;
}

.options li{
    margin-right: 30px;
    list-style: none;
}

.options li a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.options li a:hover{
    text-decoration: underline;
    color: black;
}
.description{
    text-align: center;
    /* margin-top: 20px; */
    padding-top: 20px;
}
.description__content{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description__content p{
    margin-left: 25px;
    overflow: hidden;
}
.description > p{
    font-size: 50px;
    margin: 0;
}
.description__content p {
    font-size: 40px;
    line-height: 60px;
}

.title-works{
    margin: 50px 0;
    font-size: 50px;
    padding-left: 20px;
    text-transform: capitalize;
    text-align: center;
    /* color: darkolivegreen; */
}

.carrusel{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    border: 1px solid darkolivegreen;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    margin-right: 20px;
    transform-origin: center left;
    transition: 450ms;
    padding: 10px 10px;
}

.item img{
    height: 100%;
    width: 100%;
}

.item:hover ~ .item{
    transform: translate3d(120px, 0, 0);
}

.carrusel:hover .item{
    opacity: 0.5;
}
.carrusel:hover .item:hover{
    opacity: 1;
    transform: scale(1.3);
}

